@media (max-width: 1028px) {
    
    #title{
        text-align: center;
    }

    .title-image{
        transform: rotate(0);
        position: static;
    }
}

@media (max-width: 570px){

    .title-row{
        padding-top: 25%;
    }
    
    #testimonials h2{
        font-size: 2em;
    }

    .testimonials-carousel-item{
        height: 60vh;
    }

    .testimonial-image{
        width: 30%;
    }

    .press-logo{
        width: 35%;
    }
}