@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}

.container-fluid{
    padding: 3% 15% 7%;
}

h1{
    font-weight: 700;
    font-size: 3em;
    line-height: 1.5;
}

h2{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}

h3{
    font-weight: bold;
}

p{
    color: #8f8f8f;
}

/* Section 1 - Title */

#title{
    background-color: #ff4c68;
    color: #fff;
}

/* Navigation Bar */

.navbar{
    padding-left: 15%;
    padding-right: 15%; 
    background-color: rgb(44, 40, 40);
}

.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    color: #fff;
}

/* Title */

.title-row{
    padding-top: 15%;
}
/* Download Button */

.download-button{
    margin: 5% 3% 5% 0;
}

.download-button:hover{
    transform: scale(0.95);
}

/* Title Image */

.title-image-div{
    position: relative;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Section 2 - Features */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* Section 3 - Testimonials */

#testimonials{
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

/* Testimonial Image */

.testimonial-image{
    width: 10%;
    margin: 18px;
    border-radius: 100%;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonials-carousel-item{
    height: 80vh;
}

/* Section 4 - Press */

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

/* Press Image/Logo */

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Section 5 - Pricing */

#pricing{
    padding: 100px;
    text-align: center;
}

/* Pricing Cards */

.pricing-column{
    padding: 3% 2%;
}

/* Section 6 - Call to Action */

#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    color: #fff;
}

/* Section 7 - Footer */

#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 20px;
    cursor: pointer;
}

.social-icon:hover{
    transform: scale(1.2);
}